<mat-card class="files-card">
  <mat-card-header>
    <mat-card-title>{{ files.length }} Files</mat-card-title>
  </mat-card-header>

  <mat-table [dataSource]="files">
    <ng-container matColumnDef="path">
      <mat-header-cell *matHeaderCellDef>Path</mat-header-cell>
      <mat-cell *matCellDef="let file">{{ file.path }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fileName">
      <mat-header-cell *matHeaderCellDef>File name</mat-header-cell>
      <mat-cell *matCellDef="let file">{{ file.fileName }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</mat-card>
